body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0e1114;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

button,
input {
  font-family: 'Poppins', sans-serif;
}
