.Flights {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 80px);
  animation: fadeIn 0.7s ease-in-out;
}

.Flights > h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 600;
  grid-area: 2 / 2 / 3 / 10;
}

.Flights > form {
  width: 100%;
  grid-area: 3/2/4/10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Flights > form > input {
  border: 3px solid #ffffff;
  border-radius: 10px;
  width: calc(35% - 10px);
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  padding-left: 20px;
  font-size: 36px;
  user-select: none;
  transition: all 0.5s ease;
}

.Flights > form > input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.Flights > form > input:focus {
  outline: none;
}

button.search-button {
  width: calc(25% - 15px);
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  border: 3px solid white;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  transition: 0.2s ease;
}

button.search-button:hover {
  background: #ffffff;
  color: #000000;
  font-weight: 600;
  fill: #000000;
}

button.search-button:hover > svg {
  fill: #000000;
}

button.search-button > svg {
  margin-right: 10px;
}

select.dropdown {
  font-size: 22px;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  border: none;
  border-bottom: 3px solid #ffffff;
}

select.dropdown > option {
  border: none;
  background: #0e1114;
}

select.dropdown:focus {
  outline: none;
}

select.flight-trips {
  grid-area: 4/2/5/4;
}

select.flight-class {
  grid-area: 4/5/5/7;
}

select.flight-persons {
  grid-area: 4/8/5/10;
}

div.flight-details {
  grid-row: 5 / auto;
  grid-column: 2/10;
}
