header.Header {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr 1fr;
}

header.Header > h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 600;
  grid-column: 2 / 10;
  grid-row: 1/2;
}

header.Header > p {
  margin: 0;
  font-size: 24px;
  grid-column: 2 / 10;
  grid-row: 2/3;
}
