.Header {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 20vh 100px 100px 80px 80px 20vh;
}

.Header > h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 600;
  grid-column: 2 / 10;
  grid-row: 2/3;
}

.Header > p {
  margin: 0;
  font-size: 24px;
  grid-column: 2 / 10;
  grid-row: 3/4;
}

.Header > button {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}

.Header > button.earliest-flight {
  grid-column: 2/5;
  grid-row: 5/6;
}

.Header > button.all-flights {
  grid-column: 6/9;
  grid-row: 5/6;
}
