.Ticket {
  border: 3px solid white;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.Ticket > div.qr-code {
  min-width: 200px;
  height: 200px;
  background: linear-gradient(320deg, #22252d, #5f6474);
  background-size: 400% 400%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 86% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

.Ticket > div.ticket-details-container {
  padding-left: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Ticket > div.ticket-details-container > h1 {
  margin: 0;
  font-size: 36px;
}

div.ticket-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.ticket-details > div > h3,
div.ticket-details > div > p {
  margin: 10px 0 0 0;
}

.margin-0 {
  margin: 0;
}

p.margin-0 {
  font-weight: 200;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

div.ticket-footer {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  width: 100%;
  justify-content: space-between;
}

div.ticket-footer > h4 {
  margin-top: 10px;
  font-weight: 200;
}

.ticket-footer-button {
  border: none;
  cursor: pointer;
}

.ticket-footer-button:hover {
  border-bottom: 3px solid #ffffff;
}

.cancel-confirmation {
  width: 100%;
}
